
.container {
    background-color: #f8f9fa;
}


.card {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    border-radius: 8px; 
}

.form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.form-group {
    margin-bottom: 15px;
}


.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #343a40;
}
